<div class= "text-center padded profile">
  <%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
  <h2><%= @profile.name %></h2>
  <h2><%= @profile.birthday %></h2>
  <h3>Events</h3>
  <ul>
    <% current_user.events.each do |event| %>
      <%= link_to event_path(event) do %>
       <li> <%= event.title %> <li>
      <% end %>
    <% end%>
  </ul>
</div>
