<div class= "text-center">
<h2><%= @bar.name %></h2>
<h2><%= @bar.location %></h2>
</div>

<ul>
  <h1>Events</h1>
  <% @bar.events.each do |event| %>
    <%= link_to event_path(event) do %>
      <li><%= event.title %> : <%= event.date %></li>
    <% end  %>
  <% end %>
</ul>

<% if current_user && current_user.owns_bar?(@bar) %>
  <%= link_to 'Add Events', new_bar_event_path(@bar), class: 'btn btn-primary'%>
<% end %>

