<div class= "text-center">
<h2><%= @bar.name %></h2>
<h2><%= @bar.location %></h2>
</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="map" class="mappp" style="width: 350px; height: 300px;"></div>
        <h1>Events</h1>
        <% @bar.events.each do |event| %>
          <p><%= event.title %> on the <%= event.date %></p>

        <% end %>
      <% if current_user && current_user.owns_bar?(@bar) %>
        <%= link_to 'Add Events', new_bar_event_path(@bar), class: 'btn btn-primary'%>
      <% end %>
      <% if current_user && current_user.owns_bar?(@bar) %>
        <%= link_to 'Edit', edit_bar_path(@bar), class: 'btn btn-primary'%>
      <% end %>
       <% if current_user && current_user.owns_bar?(@bar) %>
        <%= link_to "Delete", bar_path(@bar), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      var pos = <%= raw @hash.to_json %>;
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
  <% end %>
<% end %>
