<div class= "text-center">
  <h1><%= @bar.name %></h1>
  <h3><%= @bar.category %></h3>
</div>

<div class="bar-info">
  <div class="container small-padded">
    <div class="row">

      <div class="col-xs-12 col-md-6">
        <%= cl_image_tag @bar.photo, height: 300, width: 400, crop: :fill, class: "bar-image" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <p><%= @bar.category %></p>
        <h3><%=@bar.description%></h3>
        <div>
          <ul class="list-inline">
            <li><p><% if @bar.o_time != nil %>
              Open: <%= @bar.o_time.strftime('%H:%M') %>
            <% end %></p></li>
              <li><p><% if @bar.c_time != nil %>
              Close: <%= @bar.c_time.strftime('%H:%M') %>
            <% end %></p></li>
            <li><p>TV Screens: <%= @bar.tv %></p></li>
            <li><p>Bathrooms: <%= @bar.bathroom %></p></li>
            <li><% if @bar.wifi == true%>
            <i class="fa fa-wifi" aria-hidden="true"></i>
            <% end %></li>
          <li>
          <% if current_user && current_user.owns_bar?(@bar) %>
          <%= link_to 'Edit Bar', edit_bar_path(@bar), class: 'btn btn-primary'%>
          <%= link_to "Delete Bar", bar_path(@bar), method: :delete, class: 'btn btn-primary'%>
          <% end %>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container padded text-center">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-xs-offset-4">
      <h2><%= @bar.location %></h2>
      <div id="map" class="mappp" style="width: 350px; height: 300px;"></div>
    </div>
    <div class = "col-xs-12 col-md-4 col-xs-offset-4" >
        <h2>Events</h2>
        <% @bar.events.each do |event| %>
          <%= link_to event_path(event) do %>
            <p><%= event.title %></p>
          <% end %>
        <% end %>
        <% if current_user && current_user.owns_bar?(@bar) %>
          <%= link_to 'Add Events', new_bar_event_path(@bar), class: 'btn btn-primary'%>
        <% end %>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      var pos = <%= raw @hash.to_json %>;
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(15);
        }
      });
    });
  <% end %>
<% end %>
