<div class= "text-center">
<h2><%= @bar.name %></h2>
<h2><%= @bar.location %></h2>
</div>

<div class="bar-info">
  <div class="container small-padded">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <h3><%=@bar.description%></h3>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= cl_image_tag @bar.photo, height: 300, width: 400, crop: :fill %>
    </div>



      <div class="col-xs-12 col-md-4">
        <p><%= @bar.category %></p>
        <p>Open:  <%= @bar.o_time %></p>
        <p>Close: <%= @bar.c_time %></p>
        <% if @bar.wifi == true%>
          <i class="fa fa-wifi" aria-hidden="true"></i>
        <% end %>
        <div>
          <ul class="list-inline">
            <li>
              <i class="fa fa-television" aria-hidden="true"></i>
            </li>
            <li>
              <p><%= @bar.tv %></p>
            </li>
          </ul>
        </div>
        <div>
        <ul class="list-inline">
          <li>
            <i class="fa fa-venus-mars" aria-hidden="true"></i>
          </li>
          <li>
            <p><%= @bar.bathroom %></p>
          </li>
         </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container padded">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <div id="map" class="mappp" style="width: 350px; height: 300px;"></div>
        <h1>Events</h1>
        <% @bar.events.each do |event| %>
          <%= link_to event_path(event) do %>
            <p><%= event.title %> : <%= event.date %></p>
          <% end %>
        <% end %>
        <% if current_user && current_user.owns_bar?(@bar) %>
          <%= link_to 'Add Events', new_bar_event_path(@bar), class: 'btn btn-primary'%>
          <%= link_to 'Edit', edit_bar_path(@bar), class: 'btn btn-primary'%>
          <%= link_to "Delete", bar_path(@bar), method: :delete, class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      var pos = <%= raw @hash.to_json %>;
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(15);
        }
      });
    });
  <% end %>
<% end %>
