<div class= "text-center">
<%= simple_form_for [@bar, @event] do |f| %>

  <%= f.label :title, "Event Name" %>
  <%= f.input_field :title %>
  <%= f.label :date, "Date" %>
  <%= f.text_field :date, class: "datepicker" %>
  <%= f.submit "Create Event" , class: "btn btn-primary" %>
<% end %>
</div>
